.overallDiv {
  display: flex;
  align-items: flex-start;
}
.aboutMeDiv {
  display: flex;
  align-items: flex-start;
}
#aboutMeImg {
  margin: 5% 0% 5% 15%;
  height: auto;
  max-width: 25%;
}
#aboutMeText {
  margin: 5% 5% 0% 5%;
  height: auto;
  max-width: 50%;
}
#educationImg {
  /* margin: 5% 0% 0% 5%; */
  height: auto;
  max-width: 50%;
}
/* #educationText {
  margin: 5% 5% 0% 0%;
}
#timelineImg {
  height: 200px;
  width: auto;
  margin: 5% 0% 0% 0%;
} */
#exampleTimeline {
  height: auto;
  max-width: 50%;
  /* margin: 5% 0% 0% -15%; */
}
#publications {
  margin: 0% 0% 0% 7%;
}
@media only screen and (max-width: 1060px) {
  #exampleTimeline {
    height: auto;
    max-width: 75%;
    margin: 0% 0% 5% 15%;
  }
  #educationImg {
    height: auto;
    max-width: 75%;
    margin-left: 15%;
  }
  #publications {
    margin: 5% 0% 0% 0%;
  }
  .aboutMeDiv {
    display: block;
  }
  #aboutMeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }
  #aboutMeText {
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
}
