.overallDiv {
  display: flex;
  align-items: flex-start;
}
.aboutMeDiv {
  display: flex;
  align-items: flex-start;
}
#aboutMeImg {
  margin: 5% 0% 5% 15%;
  height: auto;
  max-width: 25%;
}
#aboutMeText {
  margin: 5% 5% 0% 5%;
}
#NWImg {
  margin: 9% 5% 5% 10%;
}
#NWText {
  margin-right: 5%;
}
#UIUCImg {
  margin: 7% 5% 0% 10%;
  max-width: 50%;
}
#UIUCText {
  margin: 13% 5% 0% 0%;
}
.headers {
  margin: 10% 0% 5% 0%;
  text-align: center;
}
.publicationsDivHome {
  align-items: flex-start;
  margin: 7% 0% 0% 15%;
}
#googleScholarLogo{
  margin: 0% 0% 2% 1%;
}
@media only screen and (max-width: 1060px) {
  .overallDiv {
    display: block;
  }
  .publicationsDivHome {
    margin: 20% 0% 0% 0%;
  }
  .aboutMeDiv {
    display: block;
  }
  #aboutMeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
  }
  #aboutMeText {
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
  #NWImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
  }
  #NWText {
    max-width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #UIUCImg {
    display: block;
    margin: 7% auto 0% auto;
    max-width: 35%;
  }
  #UIUCText {
    max-width: 75%;
    text-align: center;
    margin: 5% auto 0% auto;
  }
  .headers {
    margin: 15% 0% 10% 0%;
  }
}
