.researchDiv {
  display: flex;
  align-items: flex-start;
}

#research1Figure {
  margin: 5% 5% 5% 15%;
  height: auto;
  max-width: 50%;
}

#research1Text {
  margin: 5% 5% 0% 5%;
  height: auto;
  max-width: 50%;
}

#research2Figure {
  margin: 5% 0% 0% 5%;
  height: auto;
  max-width: 50%;
}

#research2Text {
  margin: 5% 5% 0% 5%;
  height: auto;
  max-width: 50%;
}

#research3Figure {
  margin: 5% 5% 5% 10%;
  height: auto;
  max-width: 50%;
}

#research3Text {
  margin: 5% 5% 0% 5%;
  height: auto;
  max-width: 50%;
}

.relatedPublications {
    margin: 2.5% 5% 0% 5%;
}

@media only screen and (max-width: 1060px) {
  #research1Figure {
    max-width: 100%;
  }
  #research1Text {
    max-width: 100%;
  }
  #research2Figure {
    max-width: 100%;
    margin: 5% 5% 0% 0%;
  }
  #research2Text {
    max-width: 100%;
  }
  #research3Figure {
    max-width: 100%;
  }
  #research3Text {
    max-width: 100%;
  }
  .researchDiv {
    display: block;
  }
}
