.researchDiv {
  display: flex;
  align-items: flex-start;
}

#research1Figure {
  margin: 5% 5% 3% 12%;
  height: auto;
  max-width: 35%;
}

#research1Text {
  margin: 5% 5% 0% 0%;
  height: auto;
  max-width: 50%;
}

#research2Figure {
  margin: 5% 0% 0% 5%;
  height: auto;
  max-width: 30%;
}

#research2Text {
  margin: 5% 8% 0% 5%;
  height: auto;
  max-width: 50%;
}

#research3Figure {
  margin: 5% 5% 3% 15%;
  height: auto;
  max-width: 25%;
}

#research3Text {
  margin: 5% 12% 0% 0%;
  height: auto;
  max-width: 50%;
}

.relatedPublications {
  margin: 2.5% 5% 0% 5%;
}

@media only screen and (max-width: 1060px) {
  #research1Figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  #research1Text {
    max-width: 100%;
    text-align: center;
    margin: 10% 5% 0% 5%;
  }
  #research2Figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  #research2Text {
    max-width: 100%;
    text-align: center;
    margin: 10% 5% 0% 5%;
  }
  #research3Figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  #research3Text {
    max-width: 100%;
    text-align: center;
    margin: 10% 5% 0% 5%;
  }
  .researchDiv {
    display: block;
  }
  .relatedPublications {
    margin: 10% 5% 0% 5%;
  }
  .individualResearchBody {
    text-align: left;
  }
}
