#footerContainer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-right: 11%;
}
#SQMSImg {
  margin: 0% 0% 0% 5%;
  height: auto;
  max-width: 20%;
}
#footerText {
  text-align: center;
  margin: 0% 5% 0% 0%;
}
#fermiImg {
  height: auto;
  max-width: 25%;
}

@media only screen and (max-width: 992px) {
    #footerContainer{
        margin-left: 10%;
    }
    #footerText {
      max-width: 100%;
      margin: 2% 5% 0% 5%;
    }
    #SQMSImg{
        max-width: 60%;
        margin: 2% 5% 0% 5%;
    }
    #fermiImg {
        margin: 2% 5% 0% 5%;
        max-width: 70%;
    }
}
